# Dependencies
node_modules/

# Build output
dist/

# Environment files
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Caches
.cache
.parcel-cache
.nyc_output
.eslintcache
.stylelintcache
.tsbuildinfo

# Coverage
coverage
*.lcov

# Generated Prisma client (ANTIGO, NÃO USAMOS MAIS)
generated/
generated/*
